<p class="text-secondary">{{ text }}</p>
<cv-modal title="About Me" (submitEvent)="onSubmit()">
    <form [formGroup]="registerForm">
        <div class="modal-body">
            <div class="form-group">
                <label for="abstract">Abstract</label>
                <textarea class="form-control" rows="8" formControlName="textInput" [ngClass]="{ 'is-invalid': submitted && f.textInput.errors }"></textarea>
                <div class="invalid-feedback">This field is required.</div>
            </div>
        </div>
    </form>
</cv-modal>