<ul class="contacts">
    <li *ngFor="let contact of contacts; let i = index">
        <span class="fa-stack fa-1x mr-3">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="{{ contact.icon }} fa-icon-color fa-stack-1x"></i>
          </span>
        {{ contact.value }}
        <span class="float-right">
            <i class="fas fa-pencil-alt mr-3 edit-element" (click)="editContact(i)"></i>
            <i class="fas fa-trash-alt edit-element" (click)="deleteContact(i)"></i>
        </span>
    </li>
</ul>

<cv-modal title="Contact" (submitEvent)="onSubmit()" (closeModalEvent)="clearForm()">
    <form [formGroup]="registerForm">
        <div class="modal-body">
            <div class="form-group">
                <label for="abstract">Contact</label>
                <input type="text" class="form-control" formControlName="value" [ngClass]="{ 'is-invalid': submitted && f.value.errors}">
                <div class="invalid-feedback">This field is required.</div>
            </div>
            <div class="form-group">
                <label for="abstract">Icon</label>
                <select class="form-control" formControlName="icon" [ngClass]="{ 'is-invalid': submitted && f.icon.errors }">
                    <option *ngFor="let contactIcon of contactIcons" value="{{ contactIcon.iconClass }}"><span [innerHTML]="contactIcon.iconUnicode"></span> - {{ contactIcon.value }}</option>
                </select>
                <div class="invalid-feedback">This field is required.</div>
            </div>
        </div>
    </form>
</cv-modal>