<div class="edit text-secondary" [ngClass]="{'personal' : isPersonalSection}" (click)="openModal()">
    <span class="fa-stack">
        <i class="far fa-circle fa-stack-2x"></i>
        <i class="{{ icon }} fa-stack-1x"></i>
    </span>
</div>
<div bsModal #modal="bs-modal" (onHidden)="closeModal()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-data" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ title }}</h5>
                <button type="button" class="close" (click)="closeModal()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ng-content></ng-content>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="closeModal()" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" (click)="onSubmit()" class="btn btn-primary">Confirm</button>
            </div>
        </div>
    </div>
</div>