<div class="container-fluid h-100">
  <div class="row h-100">
    <div class="left-column col-4">
      <cv-personal-data [image]="cv.image" [firstName]="cv.firstName" [lastName]="cv.lastName" [occupation]="cv.occupation"></cv-personal-data>
      <cv-section title="About Me" fontAwesomeIcon="fas fa-user-tie">
        <cv-about-me [text]="cv.aboutMe"></cv-about-me>
      </cv-section> 
      <cv-section title="Contact" fontAwesomeIcon="fas fa-id-card">
        <cv-contacts [contacts]="cv.contacts"></cv-contacts>
      </cv-section>
      <cv-section title="Skills" fontAwesomeIcon="fas fa-cogs">
        <cv-progress-skill *ngFor="let skill of cv.skills" [skillName]="skill.name" [percentage]="skill.percentage"></cv-progress-skill>
      </cv-section>
      <cv-section title="Languages" fontAwesomeIcon="fas fa-globe-europe">
        <cv-languages [languages]="cv.languages"></cv-languages>
      </cv-section>
    </div>
    <div class="col-8 h-100">
      <cv-section title="Experience" fontAwesomeIcon="fas fa-briefcase" inverse="true">
        <cv-experience [experience]="cv.experience"></cv-experience>
      </cv-section>
      <cv-section title="Education" fontAwesomeIcon="fas fa-graduation-cap" inverse="true">
        <cv-education [education]="cv.education"></cv-education>
      </cv-section> 
      <cv-section title="Complementary Education" fontAwesomeIcon="fas fa-chalkboard-teacher" inverse="true">
        <cv-complementary-education [courses]="cv.courses"></cv-complementary-education>
      </cv-section>
    </div>
  </div>
</div>